* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
  }
  body {
    background-color: rgb(214, 206, 206);
    background-image: url(../background/bg6.jpg);
    background-size: cover;
  }

  h2{
    font-size:25px;
    font-weight: bold;
    letter-spacing:1px;
    margin-top: 70px;
    margin-bottom:20px;
    padding-top: 10px;
    padding-left: 40px;
  }
  
  .table-data {
    width: 100%;
    margin-top: 10px;
    padding-top: 50px;
    padding-left: 70px;
  }

  .table-data tr {
    height: 35px;
  }

  .table-data tr td:nth-child(1) {
    width: 30%;
  }