* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
body {
  background-image: url(../background/bg2.jpeg);
  background-size: cover;
  background-color: rgb(214, 206, 206);
}

.box-formulir {
  max-width: 40%;
  margin: 250px auto;
}

.box {
  border: 0px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px 0 25px;
}

.table-form {
  width: 100%;
}

  .table-form tr td:nth-child(1) {
  width: 30%;
}

.input-control {
  padding: 5px 10px;
  font-size: 16px;
  margin: 5px 0;
}

.button-daftar {
  padding: 10px 10px;
  background-color: #00e608;
  color: #fff;
  border: none;
  font-size: 16px;
  display: center;
}
.button-daftar:hover {
  cursor: pointer;
  background-color: #166e0e;
  color: #fff;
}
